<footer class="glass-footer cf">
	<div class="glass-wrapper">
		<p class="glass-footer-text">Copyright <a href="/">Evan Henley</a> &copy; {{date format="YYYY"}}</p>
		<p class="glass-footer-text">Proudly published with <a href="https://ghost.org">Ghost.</a></p>
	</div>
</footer>