<footer class="glass-footer">
	<a class="glass-subscribe icon-rss" target="_blank" href="{{@blog.url}}/rss/">
			<span class="glass-hidden">Subscribe!</span>
	</a>
	<div class="glass-footer-text">
		All content copyright <a href="/">{{@blog.title}}</a> &copy; 2013 &middot; All rights reserved.
	</div>
	<div class="glass-footer-text">
		Proudly published with <a class="icon-ghost" href="http://tryghost.org" target="_blank">Ghost</a>
	</div>
</footer>