<nav class="glass-nav">
	<a class="glass-logo" href="/">
		{{#if @blog.logo}}
			<img src="{{@blog.logo}}">
		{{/if}}
	</a>
    <a href="/">Home</a> &middot; <a href="/about">About</a> &middot; <a href="/projects">Projects</a>
</nav>