{{!< default}}

<div id="glass-main">

{{#post}}

    <article class="glass-post" role="article" itemscope itemtype="http://schema.org/Article">

        {{> header}}

        <section class="glass-page-body-container glass-post-body cf" itemprop="articleBody">
            <div class="glass-wrapper" id="glass-page-body">
                
                <div class="glass-post-content">
                    {{content}}
                </div>

                {{#if pagination}}
                    <div class="glass-pagination">
                        {{{pagination}}}
                    </div>
                {{/if}}

            </div>
        </section>

    </article>
</div>

{{/post}}





